*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

html, body { height: 100%; margin: 0; }

body { display: flex; 
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.295),rgb(32, 139, 112)); }

main { flex: 1; /* pushes footer to the bottom */ }

header { 
    width: 100%;
    height: 50px;
    display: flex; 
    border-radius: 5px;
    justify-content: space-evenly; /* centers horizontally */ 
    align-items: center; /* centers vertically */
    background-color: rgba(0, 0, 0, 0.5);
}
h1{
    text-shadow: 0 0 80px black;
    background-color: rgba(0, 0, 0, 0.103);
    border-radius: 5px;
    padding: 50px 0px 50px 0px;
    margin-top: 90px;
    width: 100%;
    text-align: center;
}

nav { 
    width: 100%;
    height: 50px;

    display: flex; 
    padding-bottom: 10px;
    justify-content: space-evenly; /* centers horizontally */ 
    align-items: center; /* centers vertically */
    background-color: rgba(32, 139, 112, 0);
}

section { 
    width: 100%;
    display: flex; 
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly; /* centers horizontally */ 
    align-items: center; /* centers vertically */
    
}

.buttonContainer{
    position: relative;
    width: 400px;
    height: 400px; 
}

.buttonContainer > * { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
}

canvas{
    pointer-events: none;
}

button{
    height: 200px;
    width: 200px;
    margin: 100px;
    border:solid;
    border-width: 1px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.13);

}



button:active{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 50px rgb(255, 255, 255);
}

.timeButton{
    height: 100%;
    width: 20%;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

footer{
    text-align: center;
}